<html>

<head>
  <meta charset="utf-8" />
  <style>
    .row {
      width: 100%;
      display: flex;
    }

    .column {
      flex: 50%;
    }

    #customers {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    #customers td,
    #customers th {
      border: 1px solid #ddd;
      padding: 8px;
    }

    #customers tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    #customers tr:hover {
      background-color: #ddd;
    }

    #customers th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #04AA6D;
      color: white;
    }
  </style>
</head>

<body>

  <h1>{{.PageTitle}}</h1>

  <div class="row">
    <div class="column">
      <h2>Maps</h2>
      <p>User Count: {{ .UserCount }}</p>
      <p>ChannelCount: {{.ChannelCount}} </p>
    </div>

    <div class="column">
      <h2>Message Counts</h2>
      <p>Messages Sent: {{ .MessageSentCount }}</p>
      <p>Messages From Redis: {{ .MessageIncCount }}</p>
      <p>Messages From Users: {{ .UserMessageCount }}</p>
    </div>
  </div>

  <h2>Channels:</h2>

  <div class="row">
    {{ range .ChannelsList }}
    <div class="column">
      <h3>Channel: {{ .ID }}</h3>
      <table id="customers">
        <th>Name</th>
        <th>ID</th>
        <th>Heartbeat</th>
        {{ range .Subscribers.Data }}
        <tr>
          <td>{{ .Name }}</td>
          <td>{{ .ID }}</td>
          <td>{{ .HeartBeat }}</td>
        </tr>
        {{ end }}
      </table>
    </div>
    {{ end }}
  </div>
</body>

</html>
